---
# Caddy
- name: Create caddy config directory
  ansible.builtin.file:
    path: /opt/caddy/config
    state: directory
    mode: "0755"
- name: Write caddy config
  ansible.builtin.template:
    src: Caddyfile.j2
    dest: /opt/caddy/config/Caddyfile
    mode: "0644"
  notify: Reload Caddy
- name: Set up Caddy container
  containers.podman.podman_container:
    name: caddy
    state: quadlet
    image: docker.io/library/caddy:2
    ports:
      - "80:80"
      - "443:443"
      - "443:443/udp"
    volumes:
      - "/opt/caddy/config:/etc/caddy:ro"
      - "caddy_data:/data:idmap"
      - "caddy_config:/config:idmap"
    network: priv.network
    quadlet_options:
      - "AutoUpdate=registry"
      - "Pull=newer"
      - "UserNS=auto"
      - |
        [Install]
        WantedBy=default.target
      - |
        [Service]
        ExecReload=podman exec -w /etc/caddy caddy caddy reload
  notify: Restart Caddy
- name: Start and enable Caddy service
  ansible.builtin.systemd_service:
    name: caddy.service
    enabled: true
    state: started
    daemon_reload: true

# Dex
- name: Create dex config directory
  ansible.builtin.file:
    path: /opt/dex/config
    state: directory
    mode: "0755"
- name: Write dex config
  ansible.builtin.template:
    src: dex.config.yaml.j2
    dest: /opt/dex/config/config.docker.yaml
    mode: "0644"
  notify: Restart Dex
- name: Set up Dex container
  containers.podman.podman_container:
    name: dex
    state: quadlet
    image: docker.io/dexidp/dex:v2.44.0-distroless
    volumes:
      - "/opt/dex/config:/etc/dex:ro"
      - "dex_data:/var/dex/:idmap"
    network: priv.network
    quadlet_options:
      - "AutoUpdate=registry"
      - "Pull=newer"
      - "UserNS=auto"
      - |
        [Install]
        WantedBy=default.target
  notify: Restart Dex
- name: Start and enable Dex service
  ansible.builtin.systemd_service:
    name: dex.service
    enabled: true
    state: started
    daemon_reload: true

# Grafana
- name: Create grafana config directories
  ansible.builtin.file:
    path: "/opt/grafana/{{ item }}"
    state: directory
    mode: "0755"
  loop:
    - "config"
    - "config/provisioning/datasources"
- name: Write grafana config
  ansible.builtin.template:
    src: grafana.ini.j2
    dest: /opt/grafana/config/grafana.ini
    mode: "0644"
  notify: Restart Grafana
- name: Write grafana datasources
  ansible.builtin.template:
    src: datasources.yml.j2
    dest: /opt/grafana/config/provisioning/datasources/datasources.yml
    mode: "0644"
  notify: Restart Grafana
- name: Set up Grafana container
  containers.podman.podman_container:
    name: grafana
    state: quadlet
    image: docker.io/grafana/grafana:12.2
    volumes:
      - "/opt/grafana/config:/etc/grafana/:ro"
      - "grafana_data:/var/lib/grafana:idmap"
    network: priv.network
    quadlet_options:
      - "AutoUpdate=registry"
      - "Pull=newer"
      - "UserNS=auto"
      - |
        [Install]
        WantedBy=default.target
  notify: Restart Grafana
- name: Start and enable Grafana service
  ansible.builtin.systemd_service:
    name: grafana.service
    enabled: true
    state: started
    daemon_reload: true

# OAuth2Proxy
- name: Create OAuth2Proxy config directory
  ansible.builtin.file:
    path: /opt/oauth2proxy/config
    state: directory
    mode: "0755"
- name: Write OAuth2Proxy scrape config
  ansible.builtin.template:
    src: oauth2-proxy.cfg.j2
    dest: /opt/oauth2proxy/config/oauth2-proxy.cfg
    mode: "0644"
  notify: Restart OAuth2Proxy
- name: Set up OAuth2Proxy container
  containers.podman.podman_container:
    name: oauth2proxy
    state: quadlet
    image: quay.io/oauth2-proxy/oauth2-proxy:v7.13.0
    volumes:
      - "/opt/oauth2proxy/config:/config:ro"
    command: --config=/config/oauth2-proxy.cfg
    network: priv.network
    quadlet_options:
      - "UserNS=auto"
      - |
        [Install]
        WantedBy=default.target
  notify: Restart OAuth2Proxy
- name: Start and enable OAuth2Proxy service
  ansible.builtin.systemd_service:
    name: oauth2proxy.service
    enabled: true
    state: started
    daemon_reload: true

# VictoriaMetrics
- name: Create VictoriaMetrics config directory
  ansible.builtin.file:
    path: /opt/victoriametrics/config
    state: directory
    mode: "0755"
- name: Write VictoriaMetrics scrape config
  ansible.builtin.template:
    src: prometheus.yml.j2
    dest: /opt/victoriametrics/config/prometheus.yml
    mode: "0644"
  notify: Restart VictoriaMetrics
- name: Set up VictoriaMetrics container
  containers.podman.podman_container:
    name: victoriametrics
    state: quadlet
    image: docker.io/victoriametrics/victoria-metrics:v1.129.1
    volumes:
      - "/opt/victoriametrics/config:/config:ro"
      - "victoriametrics_data:/data:idmap"
    command: -storageDataPath=/data -promscrape.config=/config/prometheus.yml
    network: priv.network
    quadlet_options:
      - "AutoUpdate=registry"
      - "Pull=newer"
      - "UserNS=auto"
      - |
        [Install]
        WantedBy=default.target
  notify: Restart VictoriaMetrics
- name: Start and enable VictoriaMetrics service
  ansible.builtin.systemd_service:
    name: victoriametrics.service
    enabled: true
    state: started
    daemon_reload: true
