---
- name: Set timezone to UTC
  community.general.timezone:
    name: Etc/UTC
- name: Set hostname
  ansible.builtin.hostname:
    name: "bar-mon-{{ inventory_hostname }}"
- name: Install packages
  ansible.builtin.package:
    name:
      - acl # for ansible become
      - curl
      - htop
      - less
      - man
      - nano
      - podman
      - tmux
      - ufw
      - unattended-upgrades
      - vim
    state: present
- name: Make sure podman network works well with ufw
  ansible.builtin.copy:
    dest: /etc/containers/containers.conf
    content: |
      [network]
      # We set iptables driver so it plays well with ufw that also uses iptables
      firewall_driver = "iptables"
- name: Configure uig/gid mapping ranges
  ansible.builtin.lineinfile:
    path: "{{ item }}"
    regexp: "^containers:"
    line: containers:10000000:10000000
  loop:
    - /etc/subgid
    - /etc/subuid
